@media (max-width: 375px) {
  .Gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .Gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (min-width: 601px) {
  .Gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
